/* *-----------globle css------------------* */

body {
    background-color: gray;
}



/* *---------------------Header(Navbar carousel)------------------* */


.navbar-c {
    opacity: 0.7;
}

.search-bar {
    height: 35px;
    width: 700px;
}

.carousel-c {
    height: 500px;
}

.carousel-item img {
    height: 500px;
}

.card-c {
    border: 1px solid red;
    margin: 0.5rem;
    width: 25rem;

}


/* *----------Body code will be write here------------------* */

.body-c {
    margin-top: 20px;
}




/* *----------Footer code will be write here------------------* */

.footer {
    background-color: #45526e;
    /* height: 20rem; */
}