/* *-----------globle css------------------* */

body {
    background-color: gray;
}



/* *---------------------Header(Navbar carousel)------------------* */


.navbar-c {
    opacity: 0.9;
}

.navbar_home_icon{
    margin-right: 10px;
}

.navbar_login_button{
    margin-left: 10px;
}

.navbar_search_button{
    margin-left: -15px;
    margin-right: 10px;
    /* z-index: 1; */
}

.container_login_form{
    margin-top: 20px;    /* Margin at the top */
    margin-right: 30px;  /* Margin on the right */
    margin-bottom: 10px; /* Margin at the bottom */
    margin-left: 30px;   /* Margin on the left */
  }

.center-container {
    margin-top: 20px;
    /* margin: 0 auto; This centers the container horizontally */
    max-width: 100%; /* This ensures the container doesn't exceed the viewport width */
  }
  

.icon-large {
    font-size: 3rem; /* Adjust the size as needed */
  }

.col-1{
    background-color: #8ecae6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-2{
    background-color: #219ebc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-3{
    background-color: #023047;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-4{
    background-color: #ffb703;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-5{
    background-color: #fb8500;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.carousel {
    margin-top: 55px;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.carousel-item img {
    height: 180px;
    
}

.card-c {
    border: 1px solid red;
    margin: 0.5rem;
    width: 25rem;

}

.carousel-item {
    position: relative;
  }

.carousel-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(152, 146, 146, 0.4); /* Adjust the color and opacity as needed */
    backdrop-filter: blur(1.5px);
    z-index: 1;
  }

  /* Prevent blur for Carousel.Caption */
.carousel-caption {
    backdrop-filter: none;
    z-index: 2;
  }



/* *----------Body code will be write here------------------* */

.body-c {
    margin-top: 20px;
}




/* *----------Footer code will be write here------------------* */

.footer {
    background-color: #45526e;
    /* height: 20rem; */
}