/* *-----------globle css------------------* */

body {
    background-color: gray;
}



/* *---------------------Header(Navbar carousel)------------------* */


.navbar-c {
    opacity: 0.9;
}

.search-bar {
    height: 35px;
    width: 700px;
}

.carousel-c {
    height: 500px;
}

.carousel-item img {
    height: 500px;
}

.card-c {
    border: 1px solid red;
    margin: 0.5rem;
    width: 25rem;

}

.carousel-item {
    position: relative;
  }

.carousel-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4); /* Adjust the color and opacity as needed */
    backdrop-filter: blur(1.5px);
    z-index: 1;
  }

  /* Prevent blur for Carousel.Caption */
.carousel-caption {
    backdrop-filter: none;
    z-index: 2;
  }

.container_login_form{
  margin-top: 20px;    /* Margin at the top */
  margin-right: 30px;  /* Margin on the right */
  margin-bottom: 10px; /* Margin at the bottom */
  margin-left: 30px;   /* Margin on the left */
}

/* *----------Body code will be write here------------------* */

.body-c {
    margin-top: 20px;
}




/* *----------Footer code will be write here------------------* */

.footer {
    background-color: #45526e;
    /* height: 20rem; */
}